@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Orelega+One&display=swap");
body {
  background: blue;
  color: white;
}

#Chat {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#Chat #ChatLogin {
  text-align: center;
}
#Chat #ChatLogin h1 {
  font-size: 4em;
}
#Chat #ChatLogin .modal .modal-body {
  min-height: 0;
}
#Chat #ChatLogin input {
  border-radius: 0;
  width: 300px;
  color: white;
  background: #1a5f58;
  font-weight: bold;
  border: 1px solid #777;
}
#Chat #ChatLogin input::placeholder {
  color: #788;
}
#Chat #ChatLogin button {
  width: 300px;
  padding: 10px;
  background: lavenderblush;
  margin: 5px 0px;
  border: 2px solid #4db6ac;
  color: #1a5f58;
  font-weight: bold;
}
#Chat #ChatLogin button:not(:disabled):hover, #Chat #ChatLogin button:not(:disabled):active, #Chat #ChatLogin button:not(:disabled):focus {
  text-shadow: 0 0 2px #ffe400;
  color: #dcaf00;
  background: #fffdbe;
}
#Chat #ChatLogin button:disabled {
  color: #aaa;
  background: #555;
  border-color: #333;
}
#Chat #ChatLogin form {
  display: flex;
  padding: 20px;
}
#Chat #ChatLogin form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Chat #ChatLogin form h1 {
  margin-right: 20px;
  color: #4db6ac;
}
#Chat #ChatLogin form .lds-ellipsis {
  height: 20px;
  padding: 10px;
}
#Chat #ChatLogin form .lds-ellipsis div {
  width: 10px;
  height: 10px;
  top: 10px;
  background: #4db6ac;
  box-shadow: 0 0 5px #4db6ac;
}
#Chat #ClientsList {
  flex-grow: 3;
  max-width: 300px;
  min-width: 250px;
}
#Chat #ClientsList * {
  text-align: left;
}
#Chat #ClientsList #ClientInfoCard {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  background: linear-gradient(10deg, black 0%, #394f4e 44%, #97cfce 100%);
}
#Chat #ClientsList #ClientInfoCard button {
  margin: 10px 0 0 0;
  padding: 10px 15px;
  background: lavenderblush;
  color: #4db6ac;
  font-size: 1em;
}
#Chat #ClientsList #ClientInfoCard button:hover, #Chat #ClientsList #ClientInfoCard button:active, #Chat #ClientsList #ClientInfoCard button:focus {
  background: #ffff00ff;
}
#Chat #ClientsList h3 {
  margin: 0;
  text-align: center;
  padding: 6px;
  background: #1a5f58;
  color: #d0fff2;
  border: 1px solid #333;
  box-shadow: inset 1px 5px 20px 0px #333;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#Chat #ClientsList .clients-list {
  background: lavenderblush;
  height: 100%;
}
#Chat #ClientsList .client {
  border-bottom: 1px solid #bbb;
}
#Chat #ClientsList .client .client-details {
  font-size: 1em;
  text-align: left;
  padding: 4px 0 4px 20px;
  margin: 2px 1%;
  color: #222;
  display: inline-block;
  align-items: center;
  width: calc(100% - 40px);
}
#Chat #ClientsList .client .client-details:hover, #Chat #ClientsList .client .client-details:active, #Chat #ClientsList .client .client-details:focus {
  background: #ffff00ff;
}
#Chat #ClientsList .client .client-details .unread {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 0.4em 0.8em;
  margin-right: 1.4em;
  margin-top: 0.7em;
  margin-left: -1.2em;
  font-size: 0.6em;
  text-align: center;
  font-weight: bold;
  float: left;
}
#Chat #ClientsList .client .client-details strong {
  display: block;
}
#Chat #ClientsList .client .client-details small {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em;
  height: 1em;
}
#Chat #ClientsList .client .client-details div {
  display: inline-block;
}
#Chat #ClientsList .client .options-menu {
  float: right;
  margin-top: 0.7em;
}
#Chat #ClientsList .client .menu-open {
  background: #333;
  color: #ccc;
  border-radius: 50%;
  padding: 0.4em 0.8em;
  margin-right: 0.8em;
  font-size: 0.6em;
  display: block;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}
#Chat #ClientsList .client .menu-open:hover, #Chat #ClientsList .client .menu-open:active, #Chat #ClientsList .client .menu-open:focus {
  background: #555;
}
#Chat #ClientsList .client .float-menu {
  position: absolute;
  background: white;
  border: 2px solid black;
  margin-top: 5px;
  width: 8em;
  margin-left: -8em;
}
#Chat #ClientsList .client .float-menu button {
  display: block;
  padding: 5px 10px;
  width: 100%;
}
#Chat #ClientsList .client .float-menu button:hover, #Chat #ClientsList .client .float-menu button:active, #Chat #ClientsList .client .float-menu button:focus {
  text-decoration: underline;
  background: #ffe60794;
  color: #463c00;
}
#Chat #ClientsList .client .ender {
  clear: both;
}
#Chat #ChatWindow {
  flex-grow: 7;
  display: flex;
  flex-direction: column;
}
#Chat #ChatWindow .window-title button {
  display: none;
}
#Chat #ChatWindow .window-title h3 {
  text-align: center;
  background: #ccc;
  margin: 10px;
  padding: 10px;
  color: #444;
}
#Chat #ChatWindow .chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow: auto;
}
#Chat #ChatWindow .chat-messages * {
  text-align: left;
}
#Chat #ChatWindow .chat-messages .chat-message {
  margin-bottom: 0.3em;
  background: #51ff005c;
  padding: 0 10px;
  width: 95%;
}
#Chat #ChatWindow .chat-messages .chat-message[class$=local] {
  text-align: right;
  float: right;
}
#Chat #ChatWindow .chat-messages .chat-message[class$=remote] {
  color: white;
  float: left;
  background: #39ffc842;
}
#Chat #ChatWindow .chat-messages .chat-message.only-remote, #Chat #ChatWindow .chat-messages .chat-message.only-local {
  padding: 10px;
  border-radius: 10px;
}
#Chat #ChatWindow .chat-messages .chat-message.first-local, #Chat #ChatWindow .chat-messages .chat-message.first-remote {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0;
  padding-top: 10px;
}
#Chat #ChatWindow .chat-messages .chat-message.last-local, #Chat #ChatWindow .chat-messages .chat-message.last-remote {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#Chat #ChatWindow .chat-messages .chat-message.local, #Chat #ChatWindow .chat-messages .chat-message.remote {
  margin: 0;
}
#Chat #ChatWindow .chat-commands {
  display: flex;
}
#Chat #ChatWindow .chat-commands input {
  flex-grow: 10;
}
#Chat #ChatWindow .chat-commands button {
  color: #4db6ac;
}
#Chat #ChatWindow .chat-commands button:not(:disabled):hover, #Chat #ChatWindow .chat-commands button:not(:disabled):active, #Chat #ChatWindow .chat-commands button:not(:disabled):focus {
  color: #abe6e1;
}
#Chat #ChatWindow .chat-commands button:disabled {
  color: #555;
}

@media (orientation: portrait) {
  #Chat #ChatLogin form {
    flex-direction: column;
  }
  #Chat #ChatLogin form h1 {
    margin-right: 0;
    margin-bottom: 0.1em;
    margin-top: 0;
  }
  #Chat #ClientsList {
    height: 100vh;
    max-width: 100%;
  }
  #Chat #ClientsList .client .client-details {
    width: calc(100% - 50px);
  }
  #Chat #ClientsList .client .float-menu {
    width: 8em;
    margin-left: -8em;
  }
  #Chat #ChatWindow {
    display: none;
  }
  #Chat #ChatWindow.open {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    background: #333333fa;
  }
  #Chat #ChatWindow.open .window-title {
    display: flex;
  }
  #Chat #ChatWindow.open .window-title button {
    display: block;
    color: lavenderblush;
  }
  #Chat #ChatWindow.open .window-title button:hover, #Chat #ChatWindow.open .window-title button:active, #Chat #ChatWindow.open .window-title button:focus {
    color: #ffff00ff;
  }
  #Chat #ChatWindow.open .window-title h3 {
    flex-grow: 1;
    border-radius: 10px;
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
* {
  box-sizing: border-box;
  text-align: center;
}

html {
  font-size: 100%;
}

body {
  font-family: Montserrat, sans-serif;
}

button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 0.3em;
}
button:disabled {
  cursor: not-allowed;
}

input {
  font-size: 1.5em;
  padding: 0.3em;
}

h1 {
  font-size: 2em;
}

.error {
  background: crimson;
  margin: 5px;
  padding: 10px;
  color: white;
  text-align: center;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-background .modal .modal-body {
  overflow: auto;
  min-width: 300px;
  max-width: 95vw;
  min-height: 150px;
  max-height: 90vh;
}

/*# sourceMappingURL=index.css.map */
